{% extends "base.html" %}

{% block body %}
<div class="container">
    <form id="auth-form" action="{{ url_for('login') }}" method="post">
        <input type="text" name="username" placeholder="Username" autocomplete="off" class="input-field">
        <input type="password" name="password" placeholder="Password" autocomplete="off" class="input-field">
        <input type="submit" value="Login" onclick="setFormAction('login')" class="btn login-btn">
        <input type="button" value="Register" onclick="setFormAction('register')" class="btn register-btn">
    </form>
</div>

<script>
    function setFormAction(action) {
        let form = document.getElementById('auth-form');
        if (action === 'login') {
            form.action = "{{ url_for('login') }}";
            form.method = "post";
            form.submit();
        } else if (action === 'register') {
            form.action = "{{ url_for('register') }}";
            form.method = "post";
            form.submit();
        }
    }
</script>
{% endblock %}
